<div class="mb-4">
  <label class="form-label" for="route-title">Title</label>
  <input type="text" name="route[title]" class="form-control route-title" value="<%= route.title %>" required>
</div>

<div class="mb-4">
  <label class="form-label" for="route-title">Difficulty</label>
  <select type="text" name="route[difficulty]" class="form-control route-difficulty">
    <option>Not Rated - Orange</option>
    <option value="1" <%= 'selected' if route.difficulty == 1 %>>Very easy - Yellow</option>
    <option value="2" <%= 'selected' if route.difficulty == 2 %>>Easy - Green</option>
    <option value="3" <%= 'selected' if route.difficulty == 3 %>>Medium - Blue</option>
    <option value="4" <%= 'selected' if route.difficulty == 4 %>>Difficult - Red</option>
    <option value="5" <%= 'selected' if route.difficulty == 5 %>>Very difficult - Black</option>
    <option value="6" <%= 'selected' if route.difficulty == 6 %>>Ridiculous - White</option>
  </select>
</div>

<div class="mb-4">
  <label for="route-wall-state" class="form-label">Holds</label>
  <%= erb :_light_grid %>
  <input type="hidden" name="route[wall_state]" class="wall-state-input">
</div>

<div class="mb-4">
  <label for="route-title" class="form-label">Notes</label>
  <textarea type="text" name="route[notes]" class="form-control route-notes" rows="4"><%= route.notes %></textarea>
</div>
