<h1 class="text-center mb-4 pb-4">Climbing Game</h1>

<form method="post" action="/game" class="text-align-center align-items-center gameForm">
   <input type="hidden" name="_method" value="PUT">
   <input type="hidden" name="speed" value="<%= speed %>">

  <div class="form-group">
    <div class="mx-auto text-center">
      <input type="submit" class="btn btn-success btn-lg mb-4" value="Eliminate <%= speed %> random holds">
    </div>
  </div>
</form>

<% (Wall::VERTICAL - 1).downto(0) do |y| %>
  <div class="row px-3">
    <% (Wall::HORIZONTAL).times do |x| %>
      <div class="col-1 px-0 wall-light-col">
        <span class="border wall-light-cell">
          <button disabled type="submit" data-state="<%= Wall.get(x, y) %>" data-action="/toggle-light/<%= x %>/<%= y %>" data-key="<%= "#{x},#{y}" %>" class="wall-light btn">&nbsp;</button>
        </span>
      </div>
    <% end %>
  </div>
<% end %>
