<div class="row">
  <div class="col-12 mb-4">
    <a class="btn btn-success" href="/routes/new">New Route</a>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="list-group">
    <% routes.each do |route| %>
      <li class="route-difficulty route-difficulty-<%= route.difficulty || 'unknown' %> list-group-item">
        <div class="float-right">
          <a href="/routes/<%= route.id %>/edit" class="btn btn-info mr-2">Edit</a>
          <a href="/routes/<%= route.id %>/load" class="btn btn-primary">Load</a>
        </div>
        <h4><%= route.title %></h4>
        <% if route.notes %>
          <small><%= route.notes.gsub("\n", '<br />') %></small>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
